<footer>
  <div id="footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 footer-one">
          <div id="foot_nav">
            <div class="footer-link">
              <h3 class="footer-link-head">Country</h3>
              <p>
                <a href="https://yomovies.team/country/usa/">USA</a>
              </p>
              <p>
                <a href="https://yomovies.team/country/uk/">UK</a>
              </p>
              <p>
                <a href="https://yomovies.team/country/canada/">Canada</a>
              </p>
              <p>
                <a href="https://yomovies.team/country/china/">China</a>
              </p>
              <p>
                <a href="https://yomovies.team/country/france/">France</a>
              </p>
            </div>
            <div class="footer-link">
              <h3 class="footer-link-head">Year</h3>
              <p>
                <a href="https://yomovies.team/release-year/2023/">2023</a>
              </p>
              <p>
                <a href="https://yomovies.team/release-year/2022/">2022</a>
              </p>
              <p>
                <a href="https://yomovies.team/release-year/2021/">2021</a>
              </p>
              <p>
                <a href="https://yomovies.team/release-year/2020/">2020</a>
              </p>
              <p>
                <a href="https://yomovies.team/release-year/2019/">2019</a>
              </p>
            </div>
            <div class="footer-link end">
              <h3 class="footer-link-head">Genre</h3>
              <p>
                <a href="https://yomovies.team/genre/top-rated/">Trending movies</a>
              </p>
              <p>
                <a href="https://yomovies.team/genre/action/">Action</a>
              </p>
              <p>
                <a href="https://yomovies.team/genre/comedy/">Comedy</a>
              </p>
              <p>
                <a href="https://yomovies.team/genre/horror/">Horror</a>
              </p>
              <p>
                <a href="https://yomovies.team/genre/science-fiction/">Science Fiction</a>
              </p>
            </div>
          </div>
          <script>
            $("#foot_nav div.footer-link:last-child").addClass("end");
          </script>
          <div class="clearfix"></div>
        </div>
        <div class="col-lg-4 footer-subs">
          <h3 class="footer-link-head">YoMovies - Watch HD Bollywood Movies Online « yomovies</h3>
          <p class="desc">Yomovies Watch Latest Movies,TV Series Online for free,Download on yomovies Online,yomovies Bollywood,yomovies app,yomovies Website,yo-movies.</p>
          <div class="form-subs mt20">
            <div id="social-foot" class="footer-social"></div>
            <div class="clearfix"></div>
          </div>
          <div id="error-email-subs-footer" class="alert alert-danger error-block"></div>
          <div id="success-subs-footer" class="alert alert-success error-block"></div>
          <div class="clearfix"></div>
        </div>
        <div class="col-lg-4 footer-copyright">
          <p>
            <img id="logo-footer" border="0" src="https://yomovies.team/wp-content/uploads/2023/06/120-1.jpg" alt="YoMovies – Watch HD Bollywood Movies Online « yomovies" class="mv-ft-logo">
          </p>
          <p>
            <span class="copyright"> YoMovies - Watch HD Bollywood Movies Online « yomovies</span>
          </p>
          <p style="font-size: 11px; line-height: 14px; color: rgba(255,255,255,0.4)">Yomovies Watch Latest Movies,TV Series Online for free,Download on yomovies Online,yomovies Bollywood,yomovies app,yomovies Website,yo-movies.</p>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="footer-tags">
        <a title="yomovies Online">yomovies Online</a>
        <a title="yomovies Bollywood">yomovies Bollywood</a>
        <a title="yomovies app">yomovies app</a>
        <a title="yomovies Website">yomovies Website</a>
        <a title="yomoviess bollywood">yomoviess bollywood</a>
        <a title="yo-movies,yomovies download">yo-movies,yomovies download</a>
      </div>
    </div>
  </div>
</footer>