<header style="position: relative; top: 0px;">
      <div class="container">
        <div class="header-logo">
          <a title="{{ site_name }} {{ site_slogan }}" href="/" style="background-image: url({{ logopath }});" id="logo"></a>
        </div>
        <div class="mobile-menu">
          <i class="fa fa-reorder"></i>
        </div>
        <div class="mobile-search">
          <i class="fa fa-search"></i>
        </div>

        <div id="menu">
        {{ page.primary_menu }}
         
          <div class="clearfix"></div>
        </div>
        <div id="top-user">
          <div class="top-user-content guest"></div>
        </div>
        <div id="search">
          <div class="search-content">
            <form method="get" id="searchform" action="/search">
              <input class="form-control search-input" id="autocomplete" type="text" placeholder="Search.." name="title" id="s" value="" data-swplive="true" autocomplete="off">
              <button type="submit">
                <i class="fa fa-search"></i>
              </button>
            </form>
            <div id="selection-ajax"></div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </header>