{#
/**
 * @file
 * Tara's theme implementation to display front page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template.
 *
 */
#}


<div id="main-wrapper" class="main-wrapper">
{% include '@psyplay/template-parts/header.html.twig' %}


 <div class="header-pad"></div>
    <div id="main" style="padding-top: 0px;">
      <div class="container">
        
       
       


   <div class="main-content">
   <h1 class="home-title">Multimovies - Watch Free Movies, Tv Shows and Web Series Online</h1>
   {{ page.content_home }}
         
  </div>



    

  </div> 
   </div> 

  {% include '@psyplay/template-parts/footer.html.twig' %} 
 
		
</div><!-- /main-wrapper -->
