<div class="fbox">
<div class="fcmpbox">
<div class="copy">© 2023 by <strong>Multimovies</strong>. All Rights Reserved.
<a href="/contact/feedback"
  class="use-ajax"
  data-dialog-type="modal"
  data-dialog-options="{&quot;dialogClass&quot;:&quot;foobar&quot;}">Click me</a>
</div>
<span class="top-page"><a id="top-page"><i class="fas fa-angle-up"></i></a></span>
<div class="fmenu">
<ul id="menu-foot" class="menu">
</ul>
</div>
</div>
</div>