<div id="cookiedata" class="ann-home alert text-center" style="font-size: 16px;font-weight: bold;background: #dd0000;color: #010101;padding: 10px;clear: both;"> <span style="
"><i class="fa fa-blink fa-bullseye mr10"></i>
<font color="white">Plz Use Multimovies new domain and</font> <a title="Multimovies" href="https://multimovies.club/" target="blank" rel="nofollow"><font color="black">Multimovies.club</font> </a>
<font color="white">get Updated domain of multimovies...plz beware of fake websites.</font> </span></div>