
{% if header %}
{{ header }}
{% endif %} 

<div class="dt_mainmeta">
<nav class="releases">
<h2>Release year -Multimovies</h2>
<ul class="releases scrolling">
               
            {% if rows %}
             
              {{ rows }}
   
            {% endif %}
</ul>
</nav>
</div>

  {% if pager %}
    {{ pager }}
  {% endif %}
