
{% if header %}
{{ header }}
{% endif %} 

<div class="dt_mainmeta">
<nav class="genres">
<h2 class="widget-title">Genres - Multimovies</h2>
<ul class="genres scrolling">
               
            {% if rows %}
             
              {{ rows }}
   
            {% endif %}
</ul>
</nav>
</div>

  {% if pager %}
    {{ pager }}
  {% endif %}
