{#
/**
 * @file
 * Tara's theme implementation to display front page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template.
 *
 */
#}


<div id="main-wrapper" class="main-wrapper">
{% include '@psyplay/template-parts/header.html.twig' %}


 <div class="header-pad"></div>
    <div id="main" style="padding-top: 0px;">
      <div class="container">
        
        <div id="cookiedata" class="ann-home alert text-center" style=" font-size: 16px; font-weight: bold; background: #ff7c24; color: #fff;">
          <span>
            <i class="fa fa-blink fa-bullseye mr10"></i>
            <a title="Plz Use Prmovies new domain Prmovies.stream" href="https://prmovies.stream/" target="blank" rel="nofollow">
              <font color="white">Plz Use Yomovies new domain Prmovies.stream</font>
            </a> &nbsp;&nbsp; <i class="fa fa-blink fa-bullseye mr10"></i>
           
          </span>
        </div>
       


   <div class="main-content">
   {{ page.content_home }}
         
  </div>



    

  </div> 
   </div> 

  {% include '@psyplay/template-parts/footer.html.twig' %} 
 
		
</div><!-- /main-wrapper -->
