.container{
	background-color: blanchedalmond;
}
.field--type-datetime h4 {
	font-weight: 400;
    font-size: unset;
    display: inline-block;
    margin-bottom: 15px;
}
.form-required:after {
    width: 7px;
    height: 7px;
    background-size: 7px 7px;
}
.form-required:after {
    display: inline-block;
    width: 6px;
    height: 6px;
    margin: 0 0.3em;
    content: "";
    vertical-align: super;
    background-image: url(/core/misc/icons/ee0000/required.svg);
    background-repeat: no-repeat;
    background-size: 6px 6px;
} 
.form-checkboxes .js-form-type-checkbox {
	float: left;
    width: 50%;
}
legend {
	font-size: unset;
    margin: 0;
}
.description {
	font-size: 11px;
}
.field--name-field-examination .tabledrag-toggle-weight-wrapper {
	display: none;
}
.field-multiple-table thead {
	
}
#block-anothertheme-page-title {
	display:none;
}
.field-add-more-submit {
	width: 19%;
    margin: 0 auto;
    background-color: #007bff;
    color: white;
}
.paragraph-type-title {
    display: none !important;
    }
.paragraphs-subform {
	display: inline-flex;
}
.paragraphs-subform .form-wrapper  {
	margin-right: 14px;
    width: 24%;
}
.paragraphs-subform .form-wrapper label {
    font-size: 12px;
    }
.paragraphs-subform .field--name-field-marks-obtained {
    width: 14%;
    }
.paragraphs-subform .field--name-field-year {
    width: 8%;
    }
.paragraphs-subform .field--name-field-examination-passed {
    width: 16%;
    }
    .button {
     background-color: #b90a0a;
    border-color: #781515;
    }
    .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle, .btn-primary:hover {
    color: #fff;
    background-color: #d71919;
    border-color: #781515;
}
 .field-add-more-submit {
 float: left;
   
 }
.file-size {
 display:none;
 }

 input[value="Remove"]:hover,input[value="Remove"]:not(:disabled):not(.disabled):active {
color: #df2828;
    background-color: #df2828;
 }

 .form-managed-file {
        display: flex;
 }
 
input[value="Remove"] {

   margin-left: 8px;
    border: 0;
    padding: 0;
    border-radius: 50%;
    width: 20px;
    height: 25px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    transition: all 150ms;
    color: #b90a0a;
 }
 input[name="field_a_photo_0_remove_button"]{
    position: absolute;
    right: 15px;
    top: 51px;
 }
  input[name="field_examination_examination_add_more"]{
    width: 327px;
  }
.form-managed-file:after{
     content: "x";
    pointer-events: none;
    position: relative;
    top: -1px;
    color: white;
    left: -30px;
}
.field-multiple-drag {
    display: none;
}
[id^=edit-field-examination-0-top] {
 display: none !important;
}
.paragraph-type-top {
    position: relative;
    }
  .field-multiple-table .paragraphs-dropbutton-wrapper {
        position: absolute;
    right: 0px;
    }
 .field-multiple-table .paragraphs-dropbutton-wrapper:after{
     content: "x";
    pointer-events: none;
    position: relative;
   top: -25px;
    color: #ffffff;
    right: -6px;
}  
.image-widget:after {
      content: "x";
    pointer-events: none;
    position: absolute;
    top: 50px;
    color: #fdfdfd;
    left: 330px;
}
.form-item-field-a-photo-0 .description {
	display:none;
}
.description {
    font-size: 12px !important;
}
.des {
	font-size: 11px;
    margin-top: -11px;
}
#edit-field-a-course-type {
	font-weight: 700;
    font-size: 15px;
    text-align: center;
}
.h1, h1 {
    font-size: 2rem;
}

.form-control:focus {
    color: #0d0e0e;
    background-color: #fff;
    border-color: #a7a7a7;
    outline: 0;
    box-shadow: 0 0 0 0.1rem #a7a7a7;
}
.messages--error {
        font-size: 11px;
}
div[data-drupal-messages]
{
font-size: 16px;
    display: block;
    margin: 0 auto;
}

.region-header div[data-drupal-messages]
{
font-size: 16px;
    width: 800px;
    }

.profile-pic {
    width: 200px;
    max-height: 200px;
    display: inline-block;
}

.file-upload {
    display: none;
}
.circle {
    border-radius: 100% !important;
    overflow: hidden;
    width: 128px;
    height: 128px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    position: absolute;
    top: 72px;
}
img {
    max-width: 100%;
    height: auto;
}
.p-image {
  position: absolute;
  top: 167px;
  right: 30px;
  color: #666666;
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
}
.p-image:hover {
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
}
.container{
        background-color: white;
    border: 1px  #a7a7a7 solid;
    padding: 0;
}
.txt {
        font-size: 11px;
    line-height: 0px;
}
.form-wrap {
        padding: 20px;
    background-color: #f9f9f9;
}
#edit-field-a-specialisation {
    display: flex;
    font-size: 14px;
    margin-bottom: -10px;
}
.form-item-field-a-specialisation {
    margin-right: 31px;
}
.form-item-field-a-specialisation label{
        cursor: pointer;
}
.form-control {
  
    border: 1px solid #a7a7a7;
    }

  div[data-drupal-messages2] {
    position: fixed;
    z-index: 10000000;
    width: 50%;
    height: auto;
    top: 25%;
    left: 25%;
    text-align: center;
    background: white;
    border: 1px solid;
    background-color: #fefefe;
    border: 21px solid #f44336;
    padding: 10px;
    }
    div[data-drupal-messages]:after {
    content: "x";
    position: absolute;
    right: -13px;
    top: -25px;
    color: black;
    font-size: 19px;
    cursor: pointer;
}
.model-box{
    z-index: 3;
    display: block;
    padding-top: 100px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.item {
    display:flex;
}
.item label{
    font-weight: 600;
}
.item .value{
    margin-left: 10px;
}
.paragraph--view-mode--default {
    display:flex;
}

.paragraph--view-mode--default > div {
   margin-right: 5px;
    border: 1px solid #adb5bd;
    padding: 5px;
    }
.photo {
    position: absolute;
    right: 2px;
    padding: 20px;
    background-color: white;
    top: 0px;
}

