
              
   <div class="movies-list-wrap mlw-latestmovie">
   {% if header %}

      {{ header }}
   
  {% endif %}
   
     <div class="movies-list movies-list-full tab-pane in fade active">     
  {% if rows %}
   
      {{ rows }}
  
  {% endif %}
  </div>
  </div>

