<meta name="viewport" content="width=1424"> 
<link rel="stylesheet" media="all" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<style>
.container{
	padding-top:80px;
}

#block-anothertheme-page-title {
	display:none;
}

 .button {
  background-color: #b90a0a;
  border-color: #781515;
    }
    .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle, .btn-primary:hover {
    color: #fff;
    background-color: #d71919;
    border-color: #781515;
}

</style>
<div class="container">
	<header class="header">
	<h1 id="title" class="text-center">Thank you for submit the application.</h1>
    <input type="button" value="Back to the form" class="button btn-primary" onclick="history.back()"/> 
	</header>
</div>