<aside id="dtw_content_views-5" class="widget doothemes_widget">
{% if label %}
<h2 class="widget-title">
 {{ label }} -Hdmovie2
</h2>
{% endif %}
<div class="dtw_content dt_views_count">
{{ content }}
</div>
</aside>