<div class="search-suggest searchwp-live-search-results searchwp-live-search-results-showing" id="searchwp_live_search_results_6492f4024292c">
<ul style="margin-bottom: 0;">

{% for row in rows %} 

{{ row.content }}
 
{% endfor %}
<li class="ss-bottom" style="padding: 0; border-bottom: none;">
<a id="suggest-all" class="dipesh" href="/search/{{ view.getExposedInput.title }}" onclick="document.getElementById('searchform').submit();">View all</a></li>
</ul>
</div>