{#
/**
 * @file
 * Theme override to display a menu.
 * Theme template file for main navigation is menu--main.html.twig
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 */
#}

{% import _self as menus %}

{#
  We call a macro which calls itself to render the full tree.
  @see https://twig.symfony.com/doc/1.x/tags/macro.html
#}
{{ menus.menu_links(items, attributes, 0) }}

{% macro menu_links(items, attributes, menu_level) %}
  {% import _self as menus %}
  {% if items %}
    {% if menu_level == 0 %}
      <ul id="main_header" class="main-header">
    {% else %}
      <ul class="sub-menu">
    {% endif %}
      {% for item in items %}
        {% set item_classes = [
            'menu-item',
            'menu-item-level-' ~ (menu_level + 1),
            item.in_active_trail ? 'menu-item-active',
            item.below ? 'menu-item-has-children',
          ]
        %}
        <li{{ item.attributes.addClass(item_classes) }}>
          {#
            A unique HTML ID should be used, but that isn't available through
            Twig yet, so the |clean_id filter is used for now.
            @see https://www.drupal.org/project/drupal/issues/3115445
          #}
          {{ link(item.title, item.url) }}
          {% if item.below %}
            {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}
<ul id="menu-footer-menu-1" class="main-header">
 <li id="menu-item-75330" class="menu-item menu-item-level-1 menu-item-has-children">
  <a href="/genre/south-special/">ExtraMovies</a>
    <ul class="sub-menu">
      <li id="menu-item-75320" class="menu-item menu-item-level-2 menu-item-75320">
        <a href="/genre/bengali/">Bengali</a>
      </li>
      <li id="menu-item-75325" class="menu-item menu-item-level-2 menu-item-75325">
        <a href="/genre/marathi/">Marathi</a>
      </li>
      <li id="menu-item-75322" class="menu-item menu-item-level-2 menu-item-75322">
        <a href="/genre/gujarati/">Gujarati</a>
      </li>
      <li id="menu-item-75327" class="menu-item menu-item-level-2 menu-item-75327">
        <a href="/genre/punjabi/">Punjabi</a>
      </li>
      <li id="menu-item-75328" class="menu-item menu-item-level-2 menu-item-75328">
        <a href="/genre/tamil/">Tamil</a>
      </li>
      <li id="menu-item-75329" class="menu-item menu-item-level-2 menu-item-75329">
        <a href="/genre/telugu/">Telugu</a>
      </li>
      <li id="menu-item-75324" class="menu-item menu-item-level-2 menu-item-75324">
        <a href="/genre/malayalam/">Malayalam</a>
      </li>
      <li id="menu-item-75323" class="menu-item menu-item-level-2 menu-item-75323">
        <a href="/genre/kannada/">Kannada</a>
      </li>
      <li id="menu-item-75326" class="menu-item menu-item-level-2 menu-item-75326">
        <a href="/genre/pakistani/">Pakistani</a>
      </li>
    </ul>
</li>
<li class="menu-item menu-item-level-1">
<a href="/genre/erotic-movies" >Erotic</a>
</li>
<li id="menu-item-83623" class="menu-item menu-item-level-1 menu-item-has-children">
  <a href="/genre/tv-shows/">Hot Series</a>
    <ul class="sub-menu">
      <li id="menu-item-406300" class="menu-item menu-item-level-2 menu-item-406300">
        <a href="/director/besharams-originals/">Besharams</a>
      </li>
      <li id="menu-item-406299" class="menu-item menu-item-level-2 menu-item-406299">
        <a href="/director/primeplay-originals/">PrimePlay</a>
      </li>
      <li id="menu-item-406298" class="menu-item menu-item-level-2 menu-item-406298">
        <a href="/director/voovi-originals/">VooVi</a>
      </li>
      <li id="menu-item-406297" class="menu-item menu-item-level-2 menu-item-406297">
        <a href="/director/moodx-originals/">MoodX</a>
      </li>
      <li id="menu-item-406295" class="menu-item menu-item-level-2 menu-item-406295">
        <a href="/director/hunters-originals/">Hunters</a>
      </li>
      <li id="menu-item-209006" class="menu-item menu-item-level-2 menu-item-209006">
        <a href="/director/uncut">Uncut</a>
      </li>
      <li id="menu-item-99911" class="menu-item menu-item-level-2 menu-item-99911">
        <a href="/director/fliz-movies/">Fliz Movies</a>
      </li>
      <li id="menu-item-190471" class="menu-item menu-item-level-2 menu-item-190471">
        <a href="/director/nuefliks-exclusive/">Nuefliks</a>
      </li>
      <li id="menu-item-99932" class="menu-item menu-item-level-2 menu-item-99932">
        <a href="/director/hotshots/">Hotshots</a>
      </li>
      <li id="menu-item-99912" class="menu-item menu-item-level-2 menu-item-99912">
        <a href="/director/ullu">Ullu Originals</a>
      </li>
      <li id="menu-item-402434" class="menu-item menu-item-level-2 menu-item-402434">
        <a href="/director/hunters-originals/">Hunters</a>
      </li>
      <li id="menu-item-402435" class="menu-item menu-item-level-2 menu-item-402435">
        <a href="/director/moodx-originals/">MoodX</a>
      </li>
      <li id="menu-item-402436" class="menu-item menu-item-level-2 menu-item-402436">
        <a href="/director/voovi-originals/">VooVi</a>
      </li>
      <li id="menu-item-402437" class="menu-item menu-item-level-2 menu-item-402437">
        <a href="/director/primeplay-originals/">PrimePlay</a>
      </li>
      <li id="menu-item-402438" class="menu-item menu-item-level-2 menu-item-402438">
        <a href="/director/besharams-originals/">Besharams</a>
      </li>
      <li id="menu-item-101650" class="menu-item menu-item-level-2 menu-item-101650">
        <a href="/director/kooku-originals/">Kooku</a>
      </li>
      <li id="menu-item-105513" class="menu-item menu-item-level-2 menu-item-105513">
        <a href="/director/gupchup-exclusive/">Gupchup</a>
      </li>
      <li id="menu-item-101649" class="menu-item menu-item-level-2 menu-item-101649">
        <a href="/director/feneomovies/">Feneomovies</a>
      </li>
      <li id="menu-item-101648" class="menu-item menu-item-level-2 menu-item-101648">
        <a href="/director/cinemadosti/">Cinemadosti</a>
      </li>
      <li id="menu-item-106277" class="menu-item menu-item-level-2 menu-item-106277">
        <a href="/director/primeflix/">Primeflix</a>
      </li>
      <li id="menu-item-141568" class="menu-item menu-item-level-2 menu-item-141568">
        <a href="/director/gemplex/">Gemplex</a>
      </li>
      <li id="menu-item-190467" class="menu-item menu-item-level-2 menu-item-190467">
        <a href="/director/rabbit-original/">Rabbit</a>
      </li>
      <li id="menu-item-190468" class="menu-item menu-item-level-2 menu-item-190468">
        <a href="/director/hotmasti-originals/">HotMasti</a>
      </li>
      <li id="menu-item-190469" class="menu-item menu-item-level-2 menu-item-190469">
        <a href="/director/boommovies-original/">BoomMovies</a>
      </li>
      <li id="menu-item-190470" class="menu-item menu-item-level-2 menu-item-190470">
        <a href="/director/cliff-movies/">CliffMovies</a>
      </li>
      <li id="menu-item-190472" class="menu-item menu-item-level-2 menu-item-190472">
        <a href="/director/masti-prime-originals/">MastiPrime</a>
      </li>
      <li id="menu-item-190473" class="menu-item menu-item-level-2 menu-item-190473">
        <a href="/director/ek-night-show/">Ek Night Show</a>
      </li>
      <li id="menu-item-190474" class="menu-item menu-item-level-2 menu-item-190474">
        <a href="/director/flixsksmovies/">Flixsksmovies</a>
      </li>
      <li id="menu-item-190475" class="menu-item menu-item-level-2 menu-item-190475">
        <a href="/director/lootlo-original/">Lootlo</a>
      </li>
      <li id="menu-item-190476" class="menu-item menu-item-level-2 menu-item-190476">
        <a href="/director/hootzy-channel/">Hootzy</a>
      </li>
      <li id="menu-item-190477" class="menu-item menu-item-level-2 menu-item-190477">
        <a href="/director/balloons-originals/">Balloons</a>
      </li>
      <li id="menu-item-190478" class="menu-item menu-item-level-2 menu-item-190478">
        <a href="/director/big-movie-zoo-originals/">Big Movie Zoo</a>
      </li>
      <li id="menu-item-190479" class="menu-item menu-item-level-2 menu-item-190479">
        <a href="/director/bambooflix/">Bambooflix</a>
      </li>
      <li id="menu-item-190480" class="menu-item menu-item-level-2 menu-item-190480">
        <a href="/director/piliflix-originals/">Piliflix</a>
      </li>
      <li id="menu-item-190481" class="menu-item menu-item-level-2 menu-item-190481">
        <a href="/director/11upmovies-originals/">11upmovies</a>
      </li>
      <li id="menu-item-190482" class="menu-item menu-item-level-2 menu-item-190482">
        <a href="/director/eightshots-originals/">Eightshots</a>
      </li>
      <li id="menu-item-190483" class="menu-item menu-item-level-2 menu-item-190483">
        <a href="/director/i-entertainment-exclusive/">I-Entertainment</a>
      </li>
      <li id="menu-item-190484" class="menu-item menu-item-level-2 menu-item-190484">
        <a href="/director/hotprime-originals/">Hotprime</a>
      </li>
      <li id="menu-item-190485" class="menu-item menu-item-level-2 menu-item-190485">
        <a href="/director/banana-prime/">BananaPrime</a>
      </li>
      <li id="menu-item-190488" class="menu-item menu-item-level-2 menu-item-190488">
        <a href="/director/hothitfilms/">HotHitFilms</a>
      </li>
      <li id="menu-item-190487" class="menu-item menu-item-level-2 menu-item-190487">
        <a href="/director/chikooflix-originals/">Chikooflix</a>
      </li>
      <li id="menu-item-101652" class="menu-item menu-item-level-2 menu-item-101652">
        <a href="/director/lamheart">Glamheart</a>
      </li>
      <li id="menu-item-190486" class="menu-item menu-item-level-2 menu-item-190486">
        <a href="/director/worldprime-originals/">Worldprime</a>
      </li>
    </ul>
</li>
</ul>
