<div class="fbox">
<div class="fcmpbox">
<div class="copy">© 2023 by <strong>Hdmovie2</strong>. All Rights Reserved.</div>
<span class="top-page"><a id="top-page"><i class="fas fa-angle-up"></i></a></span>
<div class="fmenu">
<ul id="menu-foot" class="menu">
</ul>
</div>
</div>
</div>