<div id="cookiedata" class="ann-home alert text-center" style="font-size: 16px;font-weight: bold;background: #ffc100;color: #010101;padding: 10px;clear: both;"> <span style="
"><i class="fa fa-blink fa-bullseye mr10"></i>
<font color="white">Plz Use Hdmovie2 new domain and</font> <a id="BookmarkMe" title="Hdmovie2" href="https://hdmovie20.lat/" target="blank" rel="nofollow"><font color="black">Bookmark Click here-&gt; Hdmovie2.wiki</font> </a>
<font color="white">Join</font>&nbsp;<i class="fa fa-blink fa-bullseye mr10"></i> <a title="Telegram" href="https://t.me/hdmovie2familiy" target="blank" rel="nofollow"><font color="black">Telegram</font> </a><i class="fa fa-blink fa-bullseye mr10"></i>
<font color="white">get Updated domain of hdmovie2...plz beware of fake websites.</font> </span></div>